nz-card {
    width: 100%;
    border-radius: 15px;
    box-shadow: 3px 3px #8e94c044;
}

button {
    margin-left: 8px;
}

.nz-input-group {
    position: relative;
}

.nz-input-addon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-left: none;
}
